.roadmap-header {
  text-align: center;
  margin: 30px 0;
}

.roadmap-header h1 {
  font-size: 32px;
  font-weight: 700;
}

.roadmap-header p {
  color: gray;
}

/* SEARCH */
.roadmap-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.roadmap-search input {
  width: 50%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* CATEGORY */
.category-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.category-bar button {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
}

.active-chip {
  background: #2563eb;
  color: white;
}

/* GRID */
.roadmap-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.roadmap-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.roadmap-card:hover {
  transform: translateY(-5px);
}

/* TOP */
.card-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-top img {
  width: 45px;
}

/* META */
.meta {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  font-size: 12px;
  color: gray;
}

/* STEPS */
.steps {
  margin-top: 10px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.circle {
  width: 25px;
  height: 25px;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* BUTTON */
.learn-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: #111;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}